@charset "utf-8";
/* <!-- author: Karolina Redden    
date: sept 26th 2023
description: Assignment 1 --> */


html {
  height: 100%;
  min-width: 1200px;
}

body {
  width: 100%;
  background-color: #E7D4C0;
}

header {
  background-color: #E98973;
  display: block;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
}

p,
ul,
h1,
h2,
li,
address {
  font-family: 'Nunito Sans', sans-serif;
}

nav ul {
  position: relative;
  right: 40px;
}

nav>ul>li {
  float: right;
  width: 7%;
  color: white;
  font-size: large;
  padding-top: 15px;
  font-weight: bold;
}

nav>ul>li>a {
  color: white;
  padding: 5px;
}


nav>ul>li>a:link {
  color: white;
}

nav>ul>li>a:hover {
  color: white
}

nav>ol>ul>a:visited {
  color: white
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 50px;
}

aside {
  grid-column-start: 1;
  background-color: #88B2CC;
  min-width: 200px;
}

aside>p {
  padding: 15px 0 15px 0;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: xx-large
}

h2 {
  font-size: x-large;
}

aside {
  padding: 40px 70px 40px 70px;
  line-height: 1.5;
}


section img {
  width: 100%;
  height: 50%;
}

.home-text {
  padding: 40px;
  line-height: 2;
  overflow: hidden;
}


main>section>p {
  line-height: 2;
  text-align: left;
  padding: 0 15px 0 15px;
  overflow: hidden;
}

main>aside>ul>li {
  list-style-type: square;
  line-height: 2;
}


section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  background-color: #E7D4C0;
}

footer {
  background-color: #E98973;
  width: 100%;
  height: 70px;
  bottom: 0;
  position: fixed;
  left: 0;
}

footer>address {
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}

.contact {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  background-color: #E7D4C0;
  padding: 80px 80px 50px 300px;
  min-height: 750px;
  min-width: 600px;
}

.contact-us {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.contact img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 300px;
  height: 200px;
  padding-top: 50px;
}


.contact-us p {
  font-size: x-large;
  line-height: 2
}

.offer {
  padding: 100px 70px;
  overflow: hidden;
  z-index: 0;
}

.services {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 1em;
  z-index: 0;
}

.services img {
  min-width: 350px;
  height: 100%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}

.services h2 {
  grid-column-start: 2;
  grid-row: 1 / span 1;
  padding-top: 1em;
}

.services p {
  grid-column: 2 /span 1;
  grid-row: 2 / span 4;
  text-align: left;
}

.video {
  padding: 50px 0 0 0;
}

a:link {
  color: white;
}

a:hover {
  color: salmon;
}

a:link {
  color: white;
}

iframe {
  height: 315px;
  width: 95%;
}